@model kinological_club.Models.DogAgeViewModel

@if (!string.IsNullOrEmpty(Model.AgeResult))
{
    <div class="mt-3">
        <strong>Разница между датами в днях:</strong> @Model.AgeResult
    </div>
}
