@model kinological_club.Tables.Archive

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Archive</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nickname" class="control-label"></label>
                <input asp-for="Nickname" class="form-control" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerId" class="control-label"></label>
                <select asp-for="OwnerId" class="form-control" asp-items="ViewBag.OwnerId"></select>
                <span asp-validation-for="OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeathDate" class="control-label"></label>
                <input asp-for="DeathDate" class="form-control" />
                <span asp-validation-for="DeathDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breed" class="control-label"></label>
                <input asp-for="Breed" class="form-control" />
                <span asp-validation-for="Breed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatherId" class="control-label"></label>
                <select asp-for="FatherId" class="form-control" asp-items="ViewBag.FatherId"></select>
                <span asp-validation-for="FatherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotherId" class="control-label"></label>
                <select asp-for="MotherId" class="form-control" asp-items="ViewBag.MotherId"></select>
                <span asp-validation-for="MotherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExhibitionId" class="control-label"></label>
                <select asp-for="ExhibitionId" class="form-control" asp-items="ViewBag.ExhibitionId"></select>
                <span asp-validation-for="ExhibitionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

