
@{
    ViewData["Title"] = "Контакты";
}

<section class="contact">
    <h2>Контакты</h2>
    <p>Свяжитесь с нами для получения дополнительной информации о нашем кинологическом клубе.</p>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li>Телефон: +7 (495) 100-00-00</li>
                <li>Email: dogsclub@dogs.ru</li>
                <li>
                    Адрес: Москва, Севастопольский проспект, 89
                </li>
            </ul>
        </div>
        <div>
            <h3>Адрес клуба</h3>
            <div id="map"></div>
            <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/kinologicheskiy_tsentr_zyuzino/92176220157/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Кинологический центр Зюзино</a><a href="https://yandex.ru/maps/213/moscow/category/zoo_center/184107228/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Зооцентр, клуб любителей животных в Москве</a><iframe src="https://yandex.ru/map-widget/v1/?ll=37.509104%2C55.669575&mode=search&oid=92176220157&ol=biz&sll=37.509104%2C55.669575&sspn=0.102216%2C0.032868&text=%D0%BA%D0%B8%D0%BD%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9%20%D0%BA%D0%BB%D1%83%D0%B1&z=13.27" width="800" height="600" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>

        </div>
    </div>
</section>

